<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">

      <file type="log4net.Util.PatternString" value="appLog\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="10MB"/>

      <staticLogFileName value="false"/>
      <preserveLogFileNameExtension value="true"/>

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender"/>
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>    
      <add key="urlDPW" value="https://www.embraportonline.com.br/Account/LogOn"/>
      <add key="usuarioDPW" value="vinicius.espuri"/>
      <add key="senhaDPW" value="Vini#1231"/>
      <add key="cnpjTransportadora" value="02805610000278"/>
      <add key="bussinessExceptionEmail" value="lespuri@gmail.com;lespuri@gmail.com"/>
      <add key="systemExceptionEmail" value="lespuri@gmail.com"/>
      <add key="AdminEmail" value="lespuri@gmail.com"/>
      <add key="modeDebug" value="false"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
          description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
          type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite"
        description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data></configuration>